build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #!/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: vo
    configType: artillery
    configPath: ''
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm upgrade aman-demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ballot
    configType: cypress
    configPath: service-test-suite/voter
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: None
  content: ''
app_docker_compose: ''
lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2023-04-24T10:56:08.738Z
